// Colores base
$border: #E5E8EB;
$text-primary: #171212;
$text-secondary: #876363;
$bg: #ffffff;
$bg-secondary: #F5F0F0;
$btn: #E82933;

// Tipografía
$font-family-main: "Plus Jakarta Sans", sans-serif;

// Tamaños de fuente
$font-size-xl: 48px;
$font-size-lg: 24px;
$font-size-md: 16px;
$font-size-sm: 14px;

// Pesos de fuente
$font-weight-boldest: 800;
$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-regular: 400;

// Líneas y espaciados
$line-height-xl: 60px;
$line-height-lg: 32px;
$line-height-md: 24px;
$line-height-sm: 21px;
$letter-spacing-title: -2px;

// Espaciado general
$padding-horizontal: 120px;
$margin-section: 40px;
$margin-top-footer: 100px;
