.navbar__logo {
  margin-right: 10px;
}
.navbar--bg {
  border-bottom: 1px solid #E5E8EB;
}
.navbar__brand {
  font-weight: 700;
}
.navbar__container {
  padding: 0 50px;
}
.navbar__actions {
  gap: 20px;
  min-width: 400px;
}
.navbar__cart {
  background: #F5F0F0;
}
.navbar__search-form {
  display: flex;
}
.navbar__search-form .search--container {
  position: relative;
  width: 250px;
}
.navbar__search-form .search--container .form-control {
  background-color: #F5F0F0;
  border: none;
  outline: none;
  color: #876363;
}
.navbar__search-form .search--container .form-control::placeholder {
  color: #876363;
}
.navbar__search-form .search__input {
  padding-left: 40px;
  padding-right: 12px;
}
.navbar__search-form .search__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #876363;
  font-size: 16px;
}

.footer {
  margin: 100px 0 40px 0;
}
.footer__container {
  padding: 0 120px;
}
.footer__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.footer__link {
  color: #876363;
  text-align: center;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.footer__link:hover {
  color: #171212;
  cursor: pointer;
}
.footer__text {
  color: #876363;
  text-align: center;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 24px 0;
}

.header {
  margin: 20px 0;
}
.header____content {
  margin: 20px 0;
}
.header____title {
  color: #ffffff;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 60px;
  letter-spacing: -2px;
}
.header____description {
  color: #ffffff;
  font-size: 48px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.main .featured {
  margin: 40px 0;
}
.main .featured__title {
  color: #171212;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 20px;
  text-align: left;
}
.main .featured__subtitle {
  color: #171212;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 20px;
  margin: 10px 0 0 0;
}
.main .featured__container {
  padding: 0 120px;
}
.main .featured__description {
  color: #876363;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
.main .category {
  margin: 40px 0;
}
.main .category__title {
  color: #171212;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 20px;
  text-align: left;
}
.main .category__subtitle {
  color: #171212;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 20px;
  margin: 10px 0 0 0;
}
.main .category__container {
  padding: 0 120px;
}

/*# sourceMappingURL=home.css.map */
